<div class="row ml-1">
  <div class="col-10">
    <h1>Rubrica Contatti:</h1>
  </div>
</div>
<div class="ml-1 row" *ngIf="flag">
  <div class="col-8">
    <table class="table table-striped table-responsive">
      <thead class="thead-dark">
        <tr>
          <th>ID CONTACT</th>
          <th>NAME</th>
          <th>LASTNAME</th>
          <th>HOUSE NUMBER</th>
          <th>MOBILE PHONE</th>
          <th>ADDRESS</th>
          <th>DETAIL/UPDATE/DELETE</th>
        </tr>
      </thead>
      <tr *ngFor="let col of contacts">
        <td >
          {{col.idcontact}}
        </td>
        <td >
          {{col.name}}
        </td>
        <td >
          {{col.surname}}
        </td>
        <td >
          {{col.housenumber}}
        </td>
        <td >
          {{col.cellnumber}}
        </td>
        <td >
          {{col.address}}
        </td>
        <td class="buttons">
          <div class="row ">
            <div class="m-auto">
              <ng-template #popContent>CONTACT DETAIL: <b>{{(col.detail !== null) ? (col.detail) : "Empty details."}}</b></ng-template>
              <button class="btn btn-success btn-sm" placement="right" [ngbPopover]="popContent" popoverTitle="Further Information">
                <fa name="info" [fixed]="true"></fa>
              </button>
            </div>
            <div class="m-auto">
              <app-modal-basic-update [contactselected]="col"></app-modal-basic-update>
            </div>
            <div class="m-auto">
              <button class="btn btn-danger btn-sm" (click)="deleteContact(col)">
                <fa name="trash-o" [fixed]="true"></fa>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="flag" class="col-4">
    <h5>Total contacts: {{numberofcontacts}}</h5>
    <app-modal-basic></app-modal-basic>
  </div>
</div>
<div *ngIf="!flag" class="row">
  <div class="col-12">
    <div class="alert-danger text-center">
      <b>Problems connection DB! Try later!</b>
    </div>
  </div>
</div>
