<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modify values:</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="signupForm" #f="ngForm" (ngSubmit)="(f)">
      <div class="row">
        <div class="col-12">
          <div class="form-group small">
            <label for="name"><h6 class="text-credential label-auth">Name:</h6></label>
            <input required class="form-control" type="name" ngModel #name="ngModel" name="name" id="name" [ngModel]="contactselected.name">
          </div>
          <div *ngIf="name.dirty && name.touched && name.invalid">
            <div class="alert-warning small" *ngIf="name.errors['required']">
              The field Name is required!
            </div>
          </div>

          <div class="form-group small">
            <label for="surname"><h6 class="text-credential label-auth">Lastname:</h6></label>
            <input required class="form-control" type="surname" ngModel #surname="ngModel" name="surname" id="surname" [ngModel]="contactselected.surname">
          </div>
          <div *ngIf="surname.dirty && surname.touched && surname.invalid">
            <div class="alert-warning small" *ngIf="surname.errors['required']">
              The field Surname is required!
            </div>
          </div>

          <div class="form-group small">
            <label for="housenumber"><h6 class="text-credential label-auth">House Number:</h6></label>
            <input required class="form-control" type="housenumber" ngModel #housenumber="ngModel" name="housenumber" id="housenumber" pattern="{{mobnumPattern}}" [ngModel]="contactselected.housenumber">
          </div>
          <div *ngIf="housenumber.dirty && housenumber.touched && housenumber.invalid">
            <div class="alert-warning small" *ngIf="housenumber.errors['required']">
              The field House Number is required!
            </div>
            <div class="alert-warning small" *ngIf="housenumber.errors['pattern']">
              You must insert a Number Phone!
            </div>
          </div>

          <div class="form-group small">
            <label for="cellnumber"><h6 class="text-credential label-auth">Mobile Number:</h6></label>
            <input required class="form-control" type="cellnumber" ngModel #cellnumber="ngModel" name="cellnumber" id="cellnumber" pattern="{{mobnumPattern}}" [ngModel]="contactselected.cellnumber">
          </div>
          <div *ngIf="cellnumber.dirty && cellnumber.touched && cellnumber.invalid">
            <div class="alert-warning small" *ngIf="cellnumber.errors['required']">
              The field Mobile Number is required!
            </div>
            <div class="alert-warning small" *ngIf="cellnumber.errors['pattern']">
              You must insert a Number Phone!
            </div>
          </div>

          <div class="form-group small">
            <label for="address"><h6 class="text-credential label-auth">Address:</h6></label>
            <input required class="form-control" type="address" ngModel #address="ngModel" name="address" id="address" [ngModel]="contactselected.address">
          </div>
          <div *ngIf="address.dirty && address.touched && address.invalid">
            <div class="alert-warning small" *ngIf="address.errors['required']">
              The field Address is required!
            </div>
          </div>

          <div class="form-group small">
            <label for="detail"><h6 class="text-credential label-auth">Details:</h6></label>
            <textarea class="form-control" type="detail" ngModel name="detail" id="detail" rows="3" [ngModel]="contactselected.detail"></textarea>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close()">Cancel</button>
    <button type="button" [disabled]="!f.valid" class="btn btn-primary" (click)="updateContact(f)">Update</button>
  </div>
</ng-template>

<button class="btn btn-primary btn-sm" (click)="open(content)">
  <fa name="pencil" [fixed]="true"></fa>
</button>
